<% title = "Team" %>
<% content_for :title do %>
<%= page_title(title)%>
<% end %>

<div class="content_page">
    <%= render "layouts/subnav", nav_items: @subnav_items, page_title: title%>
    <% @team_list.each do |team| %>
    <h2><%= team.name %></h2>
    <% team.people.each do |person| %>
      <div class="team_person">
        <div class="team_person_picture">
          <img src="<%= person.avatar.url(:normal) %>">
        </div>
        <div class="program_person_cell">
          <div class="program_person_name">
            <%= person.first_name %> <%= person.last_name %>
          </div>
          <% if team.name.blank? %>
            <div class="program_person_titleorg"><%= person.title %></div>
          <% end %>
          <% if person.description.present? %>
            <div class="team_person_description"><%= person.description %></div>
          <% end %>
        </div>
      </div>

      <div class="team_mobile_person clickable" onclick="$(this).next('.team_mobile_person_description_wrapper').slideToggle()">
        <div class="team_mobile_person_picture">
          <img src="<%= person.avatar.url(:mobile) %>">
        </div>
        <div class="team_mobile_person_cell">
          <div class="program_person_name">
            <%= person.first_name %> <%= person.last_name %>
          </div>
          <% if team.name.blank? %>
            <div class="program_person_titleorg"><%= person.title %></div>
          <% end %>
        </div>
      </div>
      <% if person.description.present? %>
        <div class="team_mobile_person_description_wrapper">
          <div class="team_mobile_person_description"><%= person.description %></div>
        </div>
      <% end %>
      <br><br>
    <% end %>
  <% end %>
</div>
