<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Sidebar for navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and Javascripts
%>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= content_for(:title) %> | <%= Rails.application.class.parent_name.titlecase %></title>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Lato:300,400,900", media: "all" %>
  <%= stylesheet_link_tag "administrate/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="app-container">

    <div class="sidebar">
      <%= render "sidebar" -%>
    </div>

    <main class="main-content" role="main">
      
      
      <% if signed_in? %>
        <div class="header" style="padding:.5em 1.5em; background-color: #f1f1f1; color: grey; font-size: .8em; justify-content: flex-end; align-items: center;">
          <%= current_user.email %>
          <%= button_to "Sign out", sign_out_path, method: :delete, style:"background-color: grey; margin-left: 1em;" %>
        </div>
      <% end %>
      

      <%= content_for(:search) %>
      <%= render "flashes" -%>
      <%= yield %>
    </main>

  </div>

  <%= render "javascript" %>
</body>
</html>
