<% content_for :title do %>
<%= page_title("About")%>
<% end %>

<div class="content_page">
  <div>
    <h1 class="content_title">About</h1>
  </div>

  <% photo = Photo.find_by(image_file_name: "img_8171.jpg")%>
  <div class="photo_desktop_right">
    <a href="<%= photo.image.url %>" class="swipebox">
      <img src="<%= photo.image.url(:large) %>">
    </a>
  </div>
  The MIT Sustainability Summit is an annual event that has grown to include more
  than 350 attendees ranging from professionals, academics, and students. The past
  Summits have featured discussions with thought leaders and expert practitioners
  like Jeremy Grantham (GMO), Jim Hanna (Starbucks), Mindy Lubber (Ceres), Nancy
  Gillis (GSA), Jeffrey Hollender (Seventh Generation), Scot Horst (USGBC), James
  Balog (Chasing Ice), Rick Ridgeway (VP Patagonia) and many more.

  <% photo = Photo.find_by(image_file_name: "img_8171.jpg")%>
  <div class="photo_mobile">
    <a href="<%= photo.image.url %>" class="swipebox">
      <img src="<%= photo.image.url(:large) %>">
    </a>
  </div>
  <br><br>
  As one of the world’s preeminent research universities, MIT and its five schools
  --science, engineering, architecture and planning, humanities and social
  science, and management--are in a unique position to bring business and societal
  leaders together with academic researchers and students to address challenges in
  sustainability. <br><br>

  <% photo = Photo.find_by(image_file_name: "img_7928.jpg")%>
  <div class="photo_desktop_left">
    <a href="<%= photo.image.url %>" class="swipebox">
      <img src="<%= photo.image.url(:large) %>">
    </a>
  </div>

  <p>The 8th MIT Sustainability Summit has the theme of “Sustainability-Oriented
    Innovation” (SOI). In a moment when environmental sustainability and social
    equity appear to be in tension with economic prosperity, the innovator’s
    sensibility is essential. The 2016 MIT Sustainability Summit will accelerate
    Sustainability-Oriented Innovation (SOI) – creating value for customers while
    making possible an environmentally and socially sustainable future.</p>
  <br><br><br>
  <p>Our objective with the 2016 Sustainability Summit is to engage the audience around three key themes:</p>
  
  <ol>
    <li><strong>Corporate Innovation</strong>: This theme will focus on the ways in which corporates are acting and reacting through internal and external SOI; specifically through corporate R&D, corporate venture capital, internal venturing, M&A, and joint partnerships with industry, government, and startups.</li>

    <li><strong>SOI Financing & Policy</strong>: This theme will examine how public and private investing is looking into alternative modes of financing, assessing the ROI of SOI, and using policy as a driver of SOI.</li>


    <li><strong>Pipelines for Innovation</strong>: This theme will analyze the biggest challenges and best practices within each of these stages, and explore how greater enabling conditions can be created for SOI to scale.</li>
  </ol>

  <p>We invite you to join us at the 2016 MIT Sustainability Summit as we explore how SOI can redefine the way we do business.</p>
  
  <div class="photo_mobile">
    <a href="<%= photo.image.url %>" class="swipebox">
      <img src="<%= photo.image.url(:large) %>">
    </a>
  </div>
</div>
