<% content_for :title do %>
<%= page_title("Media Kit")%>
<% end %>

<div class="content_page">
    <div>
        <h1 class="content_title">About</h1>
    </div>
    
    The conference is just a few weeks away! We’re excited to spread the word
    about your support and involvement to our community and to yours. Please use
    the content below to share information about the Summit with your
    communities. If you have any questions, please contact 
    <a href="mailto:hansong@mit.edu">Hanson Gong</a> or 
    <a href="mailto:cheungl@mit.edu">Linda Cheung</a>.
    
    <h2>Social media</h2>
    <ul>
        <li><a href="https://twitter.com/mit_s_summit">Twitter<a></li>
        <li><a href=" https://www.facebook.com/events/212801292386946/">Facebook</a><br></li>
    </ul>
    
    <b>Suggested Tweet or Posts:</b>
    <div style="display:inline-block;padding:20px;background:#d8d8d8;margin-top:20px;margin-bottom:20px;">[YOUR ORGANIZATION] is thrilled to sponsor the 2016 MIT Sustainability Summit, “Sustainability-oriented Innovation,” April 15th #sustainnovate</div>
    
    <h2>Logos</h2>
    
    Our logo is available in <a href="<%= image_path("logo/logo.eps")%>">EPS</a>, 
    <a href="<%= image_path("logo/logo.pdf")%>">PDF</a>, 
    <a href="<%= image_path("logo/logo.svg") %>">SVG</a> format. If you need a 
    raster version you can also download a high-resolution 
    <a href="<%= image_path("logo/logo-8000.png") %>">PNG</a> which you can 
    resize to your needs.
    
    <h2>Full Press Release</h2>
    <div>
        
        <h3>
        MIT Sustainability Summit to spotlight Sustainability-oriented 
        Innovation (SOI): How do we break the trade off between financial 
        performance and environmental and social impact to transform markets and
         societies through innovation?
        </h3>

        <b>[Location], [Date]</b> &mdash; <span style="font-color:#ff0000"><b>[Your organization]</b></span> is thrilled to sponsor
        the MIT Sustainability Summit, which will take place Friday, April 15th
        at MIT’s newly LEED Gold Certified Building E52. The conference’s theme
        is “Sustainability-oriented Innovation” (SOI).

        <div style="margin-top:20px;padding:20px;margin-bottom:20px;background:#e0e0e0;">
            [Quote from your organization that you’d like to insert]
        </div>

        The Summit brings together a diverse group of public and private sector professionals, academics, and students, whose innovative approaches and ground breaking research will combine to form a toolkit that participants can use to implement SOI strategies across industries. Through engaging speakers, moderated panels, and interactive discussions, participants will explore how SOI can add value to firms and consumers.

        <br><br>

        In a moment when environmental sustainability and social equity appear to be in tension with economic prosperity, the innovator’s sensibility is essential. The 2016 MIT Sustainability Summit will engage participants around <u>3 key themes</u>:
        <ul>
            <li>
                <b>Corporate Innovation</b>: 

                The world is changing rapidly as old practices are facing
                increasing pressure from new startup business models and
                technologies. Corporate incumbents are finding that innovation
                is a matter of survival in this new age of millennial consumers,
                who are demanding greater social and environmental impact and
                transparency. This theme will focus on the ways in which
                corporates are acting and reacting through internal and external
                SOI; specifically through corporate R&amp;D, corporate venture
                capital, internal venturing, M&amp;A, and joint partnerships
                with industry, government, and startups.

            </li>
            
            <li>
                <b>SOI Financing & Policy</b>: 

                Attaining both financial and social returns on investment is no
                easy task. It is nonetheless one that growing numbers of impact
                investors and certain non- concessionary investors must
                evaluate, and one that policymakers must especially consider
                under greater scrutiny from the public. This theme will examine
                how public and private investing is looking into alternative
                modes of financing, assessing the ROI of SOI, and using policy
                as a driver of SOI.
            
            </li>
            
            <li>
                <b>Innovation Pipelines</b>: 

                The SOI process is a long-term challenge for all entrepreneurs
                and intrapreneurs. From initial idea or lab technology to first
                prototype, from prototype to pilot, and from pilot to commercial
                scale deployment, the SOI process is filled with hurdles across
                all of its stages. This theme will analyze the biggest
                challenges and best practices within each of these stages, and
                explore how greater enabling conditions can be created for SOI
                to scale.
            </li>
        </ul>
        <br>

        Slated keynote speakers include:
        <ul>
            <li><b>Sophia Mendelsohn</b>, Head of Sustainability, JetBlue</li>
            <li><b>Tom Carpenter</b>, Director of Sustainability Services, Waste Management</li>
            <li><b>David Rapaport</b>, Head of Technology and Innovation Management, Siemens</li>
            <li><b>Jonathan Maher</b>, VP CSR and Sustainability, L’Oreal</li>
            <li><b>Matthew Swibel</b>, Director, Corporate Sustainability, Lockheed Martin</li>
            <li><b>Daniel Goldman</b>, Co-Founder & Managing Partner, Clean Energy Venture Group</li>
            <li><b>John Harthorne</b>, CEO, MassChallenge</li>
        </ul>
        <br>
        
        Other highlights include:
        <ul>
            <li>A networking workshop with sponsors and speakers in the middle of the day</li>
            <li>A networking happy hour at the end of the conference</li>
            <li>MIT’s newest LEED Gold Certified Building E52</li>
        </ul>
        <br>
        Current sponsors of the MIT Sustainability Summit include: Biogen, Lockheed Martin, MIT Sustainability Initiative, Civil and Environmental Engineering, Flagship Ventures, L’Oreal, MIT Environmental Solutions Initiative, MIT Office of Sustainability, and Thoughtforms.
        <br><br>
        For more information, to register for the conference, or to inquire about sponsorship, please visit: <a href="http://sustainabilitysummit.mit.edu">http://sustainabilitysummit.mit.edu</a>
        <br><br>
        
        <h3>About the MIT Sustainability Summit</h3>
        
        About the MIT Sustainability Summit:
        The MIT Sustainability Summit is an annual event that has grown to include more than 350 attendees ranging from professionals, academics, and students. As one of the world’s preeminent research universities, MIT and its five schools--science, engineering, architecture and planning, humanities and social science, and management--are in a unique position to bring business and societal leaders together with academic researchers and students to address challenges in sustainability.
</div>
