<div id="clearance" class="password-reset" style="max-width: 30em; margin: 20vh auto 0">
  <h2 class="header__heading"><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= form_for :password, url: passwords_path do |form| %>
    <div class="text-field">
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email' %>
    </div>
    <br>
    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>
</div>
